.picker{
    width: 49%;
    margin-top: 8px;
    height: 40px !IMPORTANT;
}

textarea#body{
    width: 100%;
    resize: vertical;
    margin-top: 8px;
}

.clientPicker{
    float: left;
}

.catPicker{
    float: right;
}

.select2-container .select2-choice {
    line-height: 40px !important;
    height: 40px !important;
}

#isComplete{
    margin-left: 4px;
}

#isComplete i{
    padding-right: 7px !important;
}

#pageTitle{
    margin-left: 4px;
}

#pageTitle span.fa{
    padding-right: 7px;
}