<!doctype html>
<html>
<head>
    <title>AvvAPP</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2-bootstrap.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="../style/document.css">
    <link rel="stylesheet" href="../style/common.css">
    <style>
        body 		{ padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-6 appContainer" >
            <% if(document == null){%>

            <!-- New DOCUMENT -->
            <h2 id="pageTitle"><span class="fa fa-file-text"></span> Nuova Pratica</h2>
            <%}else{%>
            <h2 id="pageTitle"><span class="fa fa-file-text"></span><%=document.title%></h2>
            <%}%>

            <form action="/addDocument" method="PUT" id="addDocument">
                <% if(document == null){%>
                <h3>Title</h3>
                <input type="text" id="docTitle" class="form-control">
                <%}else{%>
                <input type="hidden" id="docTitle" class="form-control">
                <%}%>

                <input type="hidden" id="documentId" />

                <select id="clientPicker" class="clientPicker picker">
                    <option></option>
                </select>
                <select id="catPicker" class="catPicker picker">
                    <option></option>
                </select>

                <div class="clearer"></div>


                <textarea id="body" class="form-control" rows="4">

                </textarea>

                <% if(document != null){%>
                <h3 id="isComplete">Completata</h3>
                <%}%>

                <div class="clearer"></div>

                <div class="settings">
                    <button type="button" class="btn btn-default" onclick="location.href='../home'" style="width: 25%;">
                        <h3><span class="fa fa-reply"></span> Indietro</h3>
                    </button>
                    <% if(document != null){%>
                    <button id="btnModifyDoc" type="button" class="btn btn-default" style="width:73%; float: right">
                        <h3><span class="fa fa-file-text"></span> Salva pratica</h3>
                    </button>
                    <%}else{%>
                    <button id="btnInsertDoc" type="button" class="btn btn-default" style="width:73%; float: right">
                        <h3><span class="fa fa-file-text"></span> Aggiungi pratica</h3>
                    </button>
                    <%}%>
                </div>
            </form>


        </div>
    </div>

    <!-- Scripts -->
    <script src="../app/javascript/document.js"></script>
    <script src="//cdn.jsdelivr.net/select2/3.4.8/select2.min.js"></script>

    <%if(document!=null){%>
    <script type="text/javascript">
        $(document).ready(function() {
            fillDocumentValues(JSON.parse('<%-JSON.stringify(document._id)%>'));
        });
    </script>
    <%}%>

</body>
</html>